#carouselExampleFade{
    width: 75%;
    margin: 0px 0px;
    margin-bottom: 50px;
    z-index: 0;
    overflow: hidden;


  }
  .carousel-inner img {
    
    height: 400px;
  }
  
  
  
  .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
      filter: brightness(100%);
  }
  