#carouselExampleFade{
    width: 80%;
    margin: 30px auto;
    z-index: 0;
    border-radius: 20px;
    overflow: hidden;


  }
  .carousel-inner img {
    
    height: 400px;
  }
  
  
  
  .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
      filter: brightness(100%);
  }
  