@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('./yogi.css');

*{
    box-sizing: border-box;
    padding: none;
    margin: none;
    font-family:'DM sans';
}

#navbar{
    .container-fluid{
        display: flex;
        vertical-align: middle;
    }

    .dropdown-item{
        a{
            text-decoration: none;
            color: black;
            font-weight: 700;
        }

        &:hover{
            a{
                color:#e31e2f;
            }
            background-color: white;
        }
    }

    background-color: white;
    height: 80px;
    display: flex;
    vertical-align: middle;
    padding: 0px;
    
    .navbar-brand{
        img{
            width: 150px;
        }
    }

    .dropdown{
        .dropdown-menu{
            overflow-x: hidden;
            
            .dropdown-item{
                display: block;
                word-wrap: break-word;
                border-bottom: 1px solid black;
            }
            
            border: none;
            
        }


    }

    #navbar-btn{
        position: fixed;
        top: 0;
        right: 0;
        margin: 20px;
        background-color: white;
        transition: all 0.25s ease-in;
        &:hover{
            background-color: rgb(230, 230, 230);
        }
    }

    .navbar-nav{

        .nav-item{
            position: relative;
            text-align: center;
            display: block;

            .nav-link{
                color: #252638;
                font-weight: 700;
                text-decoration: none;
                transition: all 0.3s linear;
            }

            &:hover{
                .nav-link{
                    color: #e31e2f;
                }
            }
    }

    }
}
