@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('./yogi.css');
@import url('./carousel.css');

*{
    box-sizing: border-box;
    padding: none;
    margin: none;
    font-family:'DM sans';
}


#topper{
    width: 100vw;
    height: 40px;
    background-color: #252638;
    display: flex;
    align-items: center;

    #date, #time{
        font-size: 14px;
        padding: 0px 10px;
        color: white;
    }

    #divider{
        height: 30px;
        width: 1px;
        background-color: white;
        opacity: 0.3;
    }
}

#navbar{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .container-fluid{
        vertical-align: middle;
        background-color: white;
    }

    .dropdown-item{
        a{
            text-decoration: none;
            color: black;
            font-weight: 700;
        }

        &:hover{
            a{
                color:#e31e2f;
            }
            background-color: white;
        }
    }

    background-color: white;
    height: 80px;
    padding: 0px;
    
    .navbar-brand{
        img{
            width: 150px;
        }
    }

    .dropdown{
        .dropdown-menu{
            overflow-x: hidden;
            padding: 0px 10px;
            
            .dropdown-item{
                word-wrap: break-word;
                border-bottom: 1px solid black;
            }
            
            :last-child{
                border-bottom: none;
            }
            
        }


    }

    #navbar-btn{
        top: 0;
        right: 0;
        margin: 20px;
        background-color: white;
        transition: all 0.25s ease-in;
        &:hover{
            background-color: rgb(230, 230, 230);
        }
    }

    .navbar-nav{

        .nav-item{

            text-align: center;

            .nav-link{
                color: #252638;
                font-weight: 700;
                text-decoration: none;
                transition: all 0.3s linear;
            }

            &:hover{
                .nav-link{
                    color: #e31e2f;
                }
            }
    }

    }
}


#impLinks{
    position: fixed;
    width: 300px;
    top: 105px;
    background-color: #fdfdfd;
    text-align: center;
    z-index: 1;
    
    div{
        display: block;
        position: relative;
        text-transform: uppercase;
        #header{
            font-weight: 500;
            font-size: 20px;
            padding: 18px;
        }

        li{
            list-style: none;
            padding: 15px;
            border-bottom: rgba(0,0,0,0.2) 1px solid;
            cursor: pointer;
            transition: all 0.25s ease;

            &:hover{
                color: #e31e2f;
                font-size: 14px;
            }
        }
    }

    transform: translateX(0);
    transition: all 0.25s ease;

    #impbtn{
        position: fixed;
        top:0;
        left: 246px;
        border: none;
        padding:20px;
        padding-left: 18px;
        padding-right: 22px;
        text-align: center;
        vertical-align: middle;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        background-color: #e31e2f;
        color: white;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover{
            background-color: #b91826;
        }
        
    }

}

