.yogi {
    text-transform: uppercase;
    font-weight: 700;
    color: #e31e2f;
    font-size: 15px;
    margin: 5px 0px;
  }

  .text #cm{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
  }

.text #welcome {
  color:#e31e2f;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2px;
}


.text #catchy{
  color: black;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}


.text #social-contacts{
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

  .text1 {
    position: absolute;
    width: 300px;
    background-color: white;
    color: rgba(35, 35, 35, 1);
    padding: 2px 15px;
    font-weight: 700;
    bottom: 40px;
    right: -20px;
    border-radius: 5px;
    border: 1px solid rgba(35, 35, 35, 0.3);
    border-bottom: #e31e2f 4px solid;

  }
  
  .text {
    background-color: rgb(255, 255, 255);
    width: 500px;
    border: none;
    padding: 20px;
    text-align: left;
  }



.text p{
  font-size: 13px;
}

.bi {
  position: relative;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s linear;
  color: black;
  background: white;
  right: 0;
}

.bi-facebook:hover {
  color: #3b5998;
  
}

.bi-twitter:hover {
color: #55ACEE;
} 

  

  .container{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
  }

  .image{
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 2%;
    
  }

  .image > img{
    filter: brightness(70%);
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
  }

  
#yogi-section{
  width: 100%;
}
