h2.yogi {
    text-decoration: dashed;
    text-transform: uppercase;
    font-weight: 700;
  }
  .text1 {
    position: absolute;
    width: 30%;
   
    bottom: 50px;
    right: 280px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .text {
  
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 40px 1px rgba(35, 35, 35, .2);;
    width: 700px;
    border: 1px solid rgba(35, 35, 35, 0.3);
    padding: 20px;
    margin: 20px;
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    transition: all 0.25s linear;
    color: black;
    background: white;
  }
  
  .fa-facebook:hover {
    color: #3b5998;
    
  }
  
  .fa-twitter:hover {
  color: #55ACEE;
  } 