@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('/Main/yogi.css');
@import url('/Main/carousel.css');
@import url('/Main/proj.css');
@import url("/Main/footer.css");
@import url("/Main/news.css");
@import url("/Main/cardbaazi.css");

*{
    box-sizing: border-box;
    padding: none;
    margin: none;
    font-family:'DM sans';
}


#topper{
    top:0;
    left:0;
    right:0;
    height: 40px;
    background-color: #252638;
    display: flex;
    align-items: center;

    #date, #time{
        font-size: 14px;
        padding: 0px 10px;
        color: white;
    }

    #divider{
        height: 30px;
        width: 1px;
        background-color: white;
        opacity: 0.3;
    }
}

#navbar{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-transform: uppercase;
    font-size: 14px;
    .container-fluid{
        vertical-align: middle;
        background-color: white;
    }

    .dropdown-item{
        a{
            text-decoration: none;
            color: black;
            font-weight: 700;
        }

        &:hover{
            a{
                color:#e31e2f;
            }
            background-color: white;
        }
    }

    background-color: white;
    height: 80px;
    padding: 0px;
    
    .navbar-brand{
        img{
            width: 150px;
        }
    }

    .dropdown{
        .dropdown-menu{
            overflow-x: hidden;
            padding: 0px 10px;
            font-size: 14px;
            .dropdown-item{
                word-wrap: break-word;
                border-bottom: 1px solid black;
            }
            
            :last-child{
                border-bottom: none;
            }
            
        }


    }

    #navbar-btn{
        top: 0;
        right: 0;
        margin: 20px;
        background-color: white;
        transition: all 0.25s ease-in;
        &:hover{
            background-color: rgb(230, 230, 230);
        }
    }

    .navbar-nav{

        .nav-item{

            text-align: center;

            .nav-link{
                color: #252638;
                font-weight: 700;
                text-decoration: none;
                transition: all 0.3s linear;
            }

            &:hover{
                .nav-link{
                    color: #e31e2f;
                }
            }
    }

    }
}


#impLinks{
    position: fixed;
    width: 300px;
    top: 105px;
    background-color: #fdfdfd;
    text-align: center;
    z-index: 1;
    
    div{
        display: block;
        position: relative;
        text-transform: uppercase;
        #header{
            font-weight: 500;
            font-size: 20px;
            padding: 18px;
        }

        li{
            list-style: none;
            padding: 15px;
            border-bottom: rgba(0,0,0,0.2) 1px solid;
            cursor: pointer;
            transition: all 0.25s ease;

            &:hover{
                color: #e31e2f;
                font-size: 14px;
            }
        }
    }

    transform: translateX(-100%);
    transition: all 0.25s ease;

    #impbtn{
        position: fixed;
        top:0;
        left: 246px;
        border: none;
        padding:20px;
        padding-left: 18px;
        padding-right: 22px;
        text-align: center;
        vertical-align: middle;
        background-color: #e31e2f;
        color: white;
        font-size: 14px;
        left : 300px;
        border-radius:0px 50% 50% 0px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover{
            background-color: #b91826;
        }
        
    }

}

#news-pdfs{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90vw;
    min-height: 400px;
    margin: 20px 5vw;
    row-gap: 20px;

    #new-links{
        display: block;
        position: relative;
        height: 400px;
        width: 40%;
        min-width: 320px;
        overflow-y: hidden;
        background-color: #ffffff;

        #heading{
            font-size: 18px;
            color:#252638;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
        }

        #design{
            margin-top: 2px;
            display: flex;
            justify-content: center;
            column-gap: 4px;
            #q1{
                height: 4px;
                width: 6px;
                background-color: #e31e2f;
            }

            #q2{
                height: 4px;
                width: 30px;
                background-color: #e31e2f;
            }

            #q3{
                height: 4px;
                width: 6px;
                background-color: #e31e2f;
            }
        }

    }


    #pdf-links{
        display: block;
        position: relative;
        height: 400px;
        width: 40%;
        min-width: 320px;
        background-color: #ffffff;
        margin-bottom: 10px;

        #heading{
            font-size: 18px;
            color:#252638;
            text-align: center;
            font-weight: 600;
        }

        #design{
            margin-top: 2px;
            display: flex;
            justify-content: center;
            column-gap: 4px;
            #q1{
                height: 4px;
                width: 6px;
                background-color: #e31e2f;
            }

            #q2{
                height: 4px;
                width: 30px;
                background-color: #e31e2f;
            }

            #q3{
                height: 4px;
                width: 6px;
                background-color: #e31e2f;
            }
        }

        #pdf-container{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            margin-top: 20px;

            ul{
                margin-left: 0px;
                list-style: none;
                text-decoration: none;

                li{
                    width: 94%;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        color:rgba(0,0,0,1);
                        font-weight: 500;
                        transition: all 0.15s ease-in;
                    }

                    padding: 10px;
                    border-bottom: 1px solid rgba(0,0,0,0.3);

                    &:hover{
                        a{
                            color: #e31e2f;
                        }
                    }
                }

            }

            
        }


        #pdf-modal-btn{
            position: absolute;
            bottom: 0;
            width:90%;
            text-align: center;
            border: none;
            margin: 0px 5%;
            height: 40px;
            color: white;
            transition: all 0.3s;
            background-color: #252638;

            span{
                transition: all 0.3s;
            }

            &:hover{
                span{
                letter-spacing: 2px;
                }

                border-radius: 50px;
            }
        }

        #pdf-modal{
            position: fixed;
            background-color: rgba(0,0,0,0.5);
            top: 0;
            left:0;
            width: calc(100% + 50px);
            height: 100%;
            overflow: auto;
            z-index: 10;
            display: none;
            transition: all 0.25s linear;

            #pdf-modal-close{
                z-index: 1;
                position: absolute;
                top: 0;
                right: 50px;
                margin: 10px;
                margin-left: 20px;
                color: white;
                font-weight: 600;
                font-size: 35px;
                cursor: pointer;
            }

            #pdf-modal-content{
                display: flex;
                background-color: transparent;
                flex-direction: column;
                width: 80%;
                margin: 60px auto;
                gap: 20px;
                align-items: center;
                vertical-align: middle;

                #modal-pdf{
                    width: 90%;
                    background-color: #ffffff;
                    border-radius: 5px;
                    text-align: center;
                    padding: 10px;
                    align-items: center;
                    align-content: center;
                    line-height: 30px;
                    transition: all 0.25s ease-in;
                    a{
                        text-decoration: none;
                        color: rgba(0,0,0,1);
                        font-weight: 500;
                        font-size: 16px;
                        transition: all 0.15s ease-in;
                    }

                    &:hover{
                        a{
                            color:#e31e2f;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

    }
}

@keyframes slide{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}