@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: none;
  margin: none;
  font-family: 'DM sans';
}

#navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-transform: uppercase;
  font-size: 14px;
  background-color: white;
  height: 80px;
  padding: 0px;
}

#navbar .container-fluid {
  vertical-align: middle;
  background-color: white;
}

#navbar .dropdown-item a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  word-break: break-all;
}

#navbar .dropdown-item:hover {
  background-color: white;
}

#navbar .dropdown-item:hover a {
  color: #e31e2f;
}

#navbar .navbar-brand img {
  width: 150px;
}

#navbar .dropdown .dropdown-menu {
  overflow-x: hidden;
  padding: 0px 10px;
  font-size: 14px;
}

#navbar .dropdown .dropdown-menu .dropdown-item {
  word-wrap: break-word;
  border-bottom: 1px solid black;
}

#navbar .dropdown .dropdown-menu :last-child {
  border-bottom: none;
}

#navbar #navbar-btn {
  top: 0;
  right: 0;
  margin: 20px;
  background-color: white;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

#navbar #navbar-btn:hover {
  background-color: #e6e6e6;
}

#navbar .navbar-nav .nav-item {
  text-align: center;
}

#navbar .navbar-nav .nav-item .nav-link {
  color: #252638;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#navbar .navbar-nav .nav-item:hover .nav-link {
  color: #e31e2f;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  position: relative;
  margin: 10px 2.5vw;
  height: 60vh;
  overflow: hidden;
}

#container #banner {
  position: relative;
  left: 0;
  top: 0;
  width: 70%;
}

#container #banner img {
  width: 100%;
  height: 100%;
}

#container #divider {
  width: 2px;
  height: 100%;
  position: relative;
  border-radius: 100px;
  background-color: #000000;
  opacity: 0.3;
}

#container #con2 {
  margin: auto;
}

#container #con2 #radios {
  font-weight: 600;
}

#container #con2 #radios label {
  margin-right: 10px;
}

#container #con2 #radios input {
  margin-left: 0px;
  cursor: pointer;
}

#container #con2 #inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

#container #con2 #inputs input {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4px 10px;
}

#container #con2 #inputs input:focus {
  outline: none;
}

#container #con2 #captcha {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-color: #252638;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}

#container #con2 #login {
  margin-top: 20px;
  width: 100%;
  border: none;
  background-color: #e31e2f;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 15px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-radius: 2px;
}

#container #con2 #login:hover {
  border-radius: 50px;
  letter-spacing: 2px;
}

#mid-divider {
  margin: 5px auto;
  width: 65%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

#btn-container .grp-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btn-container .grp-1 .btn {
  text-decoration: none;
  color: white;
  border-radius: 50px;
  padding: 10px;
  width: 65%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
}

#btn-container .grp-1 .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e31e2f;
  border-radius: 50px;
  z-index: -2;
}

#btn-container .grp-1 .btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #252638;
  z-index: -1;
  border-radius: 50px;
}

#btn-container .grp-1 .btn:hover {
  color: white;
}

#btn-container .grp-1 .btn:hover:before {
  width: 100%;
}

#btn-container .grp-1 .btn-2 {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}

#btn-container .grp-1 .btn-3 {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}

#btn-container .grp-1 .btn-4 {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

#btn-container .grp-1 .btn-5 {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

#btn-container .grp-1 .btn-6 {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

@-webkit-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
/*# sourceMappingURL=style.css.map */