.yogi {
    text-transform: uppercase;
    font-weight: 700;
  }
  .text1 {
    position: absolute;
    width: 26vw;
    min-width: 330px;
    background-color: white;
    color: rgba(35, 35, 35, 1);
    padding: 2px 15px;
    font-weight: 700;
    bottom: 40px;
    right: -40px;
    border-radius: 5px;
    border: 1px solid rgba(35, 35, 35, 0.3);
    border-bottom: #e31e2f 4px solid;

  }
  
  .text {
    background-color: rgb(255, 255, 255);
    box-shadow: 12px 20px 30px 1px rgba(35, 35, 35, .2);;
    width: 600px;
    border: 1px solid rgba(35, 35, 35, 0.3);
    padding: 20px;
  }

.text  h5{
  text-align: center;
}

.text p{
  font-size: 13px;
}

  .fa {
    position: relative;
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    transition: all 0.25s linear;
    color: black;
    background: white;
    right: 0;
  }
  
  .fa-facebook:hover {
    color: #3b5998;
    
  }
  
  .fa-twitter:hover {
  color: #55ACEE;
  } 

  

  .container{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
  }

  .image{
    width: 330px;
    height: 440px;
    position: relative;
    border-radius: 2%;
    
  }

  .image > img{
    filter: brightness(70%);
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
  }

  
  /* @media screen and (max-width: 768px) {
    .text{
      width: 90vw;
    }
  } */