
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: none;
  margin: none;
  font-family: 'DM sans';
}

#navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-transform: uppercase;
  font-size: 14px;
  background-color: white;
  height: 80px;
  padding: 0px;
}

#navbar .container-fluid {
  vertical-align: middle;
  background-color: white;
}

#navbar .dropdown-item a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

#navbar .dropdown-item:hover {
  background-color: white;
}

#navbar .dropdown-item:hover a {
  color: #e31e2f;
}

#navbar .navbar-brand img {
  width: 150px;
}

#navbar .dropdown .dropdown-menu {
  overflow-x: hidden;
  padding: 0px 10px;
  font-size: 14px;
}

#navbar .dropdown .dropdown-menu .dropdown-item {
  word-wrap: break-word;
  border-bottom: 1px solid black;
}

#navbar .dropdown .dropdown-menu :last-child {
  border-bottom: none;
}

#navbar #navbar-btn {
  top: 0;
  right: 0;
  margin: 20px;
  background-color: white;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

#navbar #navbar-btn:hover {
  background-color: #e6e6e6;
}

#navbar .navbar-nav .nav-item {
  text-align: center;
}

#navbar .navbar-nav .nav-item .nav-link {
  color: #252638;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#navbar .navbar-nav .nav-item:hover .nav-link {
  color: #e31e2f;
}

  #topper {
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #252638;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #topper #date, #topper #time {
    font-size: 14px;
    padding: 0px 10px;
    color: white;
  }
  
  #topper #divider {
    height: 30px;
    width: 1px;
    background-color: white;
    opacity: 0.3;
  }
 
.containerflagship > .heading{
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: #252638;
  padding: 20px;
}

.container-card{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}

.container-card > .card{
  padding: 20px;
  border: none;
}

.container-card > .card > img{
  height: 300px;
  width: 300px;
  filter: contrast(110%);
}

.container-card > .card > .layer{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #252638;
  color: #e31e2f;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.container-card > .card:hover .layer, .container-card > .card:active .layer{
  opacity: 1;
  transform: scale(1.05);
}

.container-card > .card > .layer > .hvr-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
	font-size: 18px;
  font-weight: 600;
	position: absolute;
	row-gap: 20px;
  padding: 20px;
  
}

.container-card > .card > .layer > .hvr-text a{
  text-decoration: dashed underline;
  color: #e31e2f;
}

.container-card > .card > .layer > .hvr-text ul{
  list-style: disc;
}



.container-card > .card > .layer > .hvr-text li{
  margin-top: 20px;
}

@media (max-width:740px ) {
  .containerflagship > .heading{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: #252638;
    padding: 20px;
  }

  .container-card > .card > img{
    height: 150px;
    width: 150px;
    filter: contrast(110%);
  }
}

@media (max-width:1099px) and (min-width:740px ) {
  .containerflagship > .heading{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: #252638;
    padding: 20px;
  }

  .container-card > .card > img{
    height: 200px;
    width: 200px;
    filter: contrast(110%);
  }
}
